@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

html {
  scroll-behavior: smooth;
} 

:root{
    --cor-primaria:rgb(10, 3, 43);
    --cor-segundaria:rgb(184, 184, 241);
    --cor-terciaria: rgb(141, 141, 253);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(90deg, rgb(10, 3, 43) 35%, rgb(26, 14, 78));
    /*background-color:var(--cor-primaria);*/
    color: rgb(205, 216, 216);
}

.destaque-titulo{
    color: var(--cor-segundaria);
    
}

.destaque-titulo1{
    color: var(--cor-terciaria);
}

.destaque-sobremim{
    color: rgb(79, 84, 161);
}



.apresentacao__conteudo__titulo{ 
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
}

.apresentacao__conteudo__titulo2{ 
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto{
    text-indent: 2%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.apresentacao1{
    height: auto;
    gap: 50px ;
    padding: 4.75% 15%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    
}

.apresentacao2{
    height: auto;
    min-height: 100vh;
    gap: 50px ;
    padding: 4.75% 20%;
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-start;
}

.apresentacao__conteudo{
    height: auto ;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding: 0px 0px 0px 0px ;

}

.apresentacao__conteudo2{
    height: auto ;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    padding: 0 ;
}

.logo{
    width: 46px;
    height: 40px;
    max-width: 300px;
    
}

.logo1{
    width: 70px;
    height: 40px;
    max-width: 300px;
    
}


.imagem_portifolio{
    border: 3px solid var(--cor-segundaria);
    width: 37.5%;
    max-height: 70vh;
    
    border-radius: 16px;
}

.imagem_portifolio2{
    max-height: 20%;
    border: 3px solid var(--cor-terciaria);
    width: 50%; 
    border-radius: 16px;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border: 2px solid var(--cor-terciaria);
    padding: 10px 0;
    width: 360px;
    color: var(--cor-segundaria); 
    text-align: center;
    border-radius: 6px;
    font-size: 1.5rem;
    text-decoration: none;
    font-family:"Montserrat", sans-serif ;
    font-weight: 600;

}

.apresentacao__conteudo__links__navegacao:hover{
    cursor: pointer;
    background-color:  rgb(31, 19, 83);
}

.rodape{
    color: rgb(10, 3, 43);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 10px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    
}
.cabecalho{
    position: sticky;   
    top: 0;
    background-image: linear-gradient(90deg, rgba(10, 3, 43, 0.8) 35%, rgba(26, 14, 78, 0.8));
    /*background-color: rgba(10, 3, 43, 0.8);*/
    backdrop-filter: blur(10px);
    padding: 1% 0;
}


/*.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 2% 0 0 ;
    background-color: rgb(10, 3, 43) ;
} */

.cabecalho__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabecalho__menu__link{
    font-family: 'Krona One', sans-serif;
    padding: 0 10px;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover{
    color: var(--cor-segundaria) ;
    cursor:pointer;
}

main{
    display: flex;
    flex-direction: column;
}

.apresentacao3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30%;

}

.link_curriculo{
    
    font-family: 'Krona One', sans-serif;
    padding: 0 10px;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--cor-terciaria);
}

.link_curriculo:hover{
    color: var(--cor-segundaria) ;
    cursor:pointer;
}

@media (max-width: 1200px){
    .apresentacao1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .apresentacao2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 4.75% 10%;

    }

    .cabecalho__menu__link{
        font-family: 'Krona One', sans-serif;
        padding: 0 10px;
        text-decoration: none;
        font-size: 1rem;
        color: var(--cor-terciaria);
    }

    .apresentacao__conteudo{
        width: auto;
    }

     .apresentacao__conteudo2{
        width: auto;
    }

    .imagem_portifolio{ 
        width: auto;
        max-width: 80%;
    }

}   